header {
    background-color: $tertiary;
}

header .wrapper {
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

.headerImgContainer {
    width: 48%;
}

.textContainer {
    width: 48%;
    padding-left: 20px;
}

header h3 {
    font-size: .6rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: $bodyFont;
    padding-bottom: 20px;
}

header p {
    font-size: .8rem;
    padding-bottom: 20px;
}


// Contact Page Styling

.contactHeader {
    background-color: $quaternary;
    padding-top: 80px;
}

.contactHeader .wrapper {
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 50px;
}

.contactHeader::after {
    content: '';
    width: 100%;
    height: 150px;
    background-image: url(../assets/wave.svg);
    background-size: 100% 100%;
    background-color: $quaternary;
    display: block;
}

