// Categories Section
.categories {
    margin-top: 90px;
}

.categoryList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .item1 {
        background-color: $quinary;
    }
    .item2 {
        background-color: $secondary;
    }
    .item3 {
        background-color: $tertiary;
    }
    .item4 {
        background-color: $quaternary;
    }
    .items {
        border-radius: 10%;
        text-align: center;
        width: calc( 45% - 50px);
        margin: 50px 25px 25px;
        padding: 40px;
        transition: .5s;
        img {
            border-radius: 10%;
            margin-bottom: 15px;
        }
        &:hover {
            transform: scale(.9);
        }
    }
}

// Let Them Play Section
 
.play {
    background-image: url(../assets/background-image.jpg);
    background-position: center;
    background-size: cover;
    min-height: 90vw;
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vw;
        .playContent {
            width: 60%;
            border: 24px solid $secondary;
            background-color: $solidWhite;
            padding: 60px;
            text-align: center;
        }
    }
}